---
import Layout from "@/layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import SocialButton from "@/components/SocialButton.astro";
import AvatarImage from "@/components/AvatarImage.astro";
import UserService from "@/services/UserService";
import GoBackButton from "@/components/GoBackButton.astro";

export const getStaticPaths = (async () => {
    const users = await UserService.getUsers();
    return users.map((user) => ({
        params: { user: user.id },
        props: {user: user.data}
    }));
}) satisfies GetStaticPaths;

const { user } = Astro.props;

---
<Layout title={user.name}>
    <GoBackButton/>
	<main class="container avatar-container flex-col">
        <AvatarImage
            shadow
            avatar={user.avatar}
            name={user.name}
            quality="high"
        />
        <section class="avatar-info">
            <h1 class="avatar-title">{ user.name }</h1>
            <p>{ user.bio }</p>
        </section>
        <section class="social-media-container flex-col">
            {
                user.socialMedia.map((social) => (
                    <SocialButton
                        url={social.url}
                        name={social.name}
                    />
                ))
            }
        </section>
    </main>
</Layout>
<style>
    .avatar-container {
        margin-top: 5rem;
        align-items: center;
        gap: 2rem;
        .avatar-info {
            text-align: center;
            .avatar-title {
                font-size: 5rem;
                background: linear-gradient(to bottom, var(--secondary) 50%, var(--primary));
                color: transparent;
                background-clip: text;
            }
        }
        h1 {
            margin-bottom: 2rem;
        }
        p {
            padding: 0 5rem;
            font-size: 2.5rem;
            @media (min-width: 768px) {
                & {
                    font-size: 3rem;
                }
            } 
        }
    }
    .social-media-container {
        margin-top: 3rem;
        gap: 4rem;
    }
</style>